
// base text
html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.3rem;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 1.3rem;
    }
}


// styling
.text-bold {
    font-weight: bold;
}

.text-lighter {
    font-weight: lighter;
}

// .text-XX

@include media-breakpoint-down(sm) {
    .text-xxs {
        font-size: 0.15rem;
    }
    .text-xs {
        font-size: 0.4rem;
    }
    .text-sm {
        font-size: 0.6rem;
    }
    .text-md {
        font-size: 0.8rem;
    }
    .text-lg {
        font-size: 1.0rem;
    }
    .text-xl {
        font-size: 1.2rem;
    }
    .text-xxl {
        font-size: 1.6rem;
    }
}

@include media-breakpoint-down(md) {
    .text-xxs {
        font-size: 0.2rem;
    }
    .text-xs {
        font-size: 0.5rem;
    }
    .text-sm {
        font-size: 0.7rem;
    }
    .text-md {
        font-size: 0.9rem;
    }
    .text-lg {
        font-size: 1.1rem;
    }
    .text-xl {
        font-size: 1.3rem;
    }
    .text-xxl {
        font-size: 1.7rem;
    }
}

@include media-breakpoint-down(lg) {
    .text-xxs {
        font-size: 0.25rem;
    }
    .text-xs {
        font-size: 0.5rem;
    }
    .text-sm {
        font-size: 0.7rem;
    }
    .text-md {
        font-size: 0.9rem;
    }
    .text-lg {
        font-size: 1.1rem;
    }
    .text-xl {
        font-size: 1.3rem;
    }
    .text-xxl {
        font-size: 1.7rem;
    }
}

@include media-breakpoint-between(lg, xl) {
    .text-xxs {
        font-size: 0.3rem;
    }
    .text-xs {
        font-size: 0.7rem;
    }
    .text-sm {
        font-size: 0.8rem;
    }
    .text-md {
        font-size: 1.0rem;
    }
    .text-lg {
        font-size: 1.2rem;
    }
    .text-xl {
        font-size: 1.4rem;
    }
    .text-xxl {
        font-size: 1.8rem;
    }
}
