
<div class="pb-3">
  <button (click)="isVisible = !isVisible">Click Me</button>
</div>
<div class="pb-3">
  <button *ngIf="isVisible" 
    (mouseenter)="hover(true)"
    (mouseleave)="hover(false)"
    (click)="click()"
    [@HoverAnimation]="animationState"
    (@HoverAnimation.done)="onAnimationDone($event)"
    (@HoverAnimation.start)="onAnimationStart($event)">
    Hover with angular animation instead of pure CSS! Click Me, too!
  </button>
</div>


<!-- appHover (isHovered)="animate($event)" -->
