
:host {
    display: flex;
    flex: 1;
}

.board-cell {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
    // padding: 7px;

    .board-cell-content {
        transition: all .2s ease-in-out;
    }
}

.board-cell:active {
    // transform: scale(0.90); // has to animate on a different dimension than the HOVER one
    // margin: 5px;
    transition: all .1s ease-in-out;

    .board-cell-content {
        font-weight: bold;
        // transform: scale(2);
        transition: all .1s ease-in-out;
    }
}

.board-cell:hover {
    transform: scale(0.95);
    // margin: 3px; // has to animate on a different dimension than the ACTIVE one
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    transition: all .15s ease-in-out;

    .board-cell-content {
        transform: scale(1.5);
        transition: all .2s ease-in-out;
    }
}
