
@import '../../../../../assets/scss/_variables';

.menu-button {
    position: absolute;
    // left: $menuButtonLeft;
    // top: $menuButtonTop;
    // height: $menuButtonDiameter;
    // width: $menuButtonDiameter;
    // border-radius: $menuButtonDiameter/2;
    z-index: $headerZIndex + 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
// .menu-button:hover {
//     transform: scale(1.15);
//     transition: all .3s ease-in-out;
// }

.menu-button:hover.menu-button-closed {
    transform: translateX(-4px);
    transition: all .3s ease-in-out;
}

.menu-button:hover.menu-button-opened {
    transform: translateX(4px);
    transition: all .3s ease-in-out;
}

// .menu-button:active.menu-button-closed {
//     // box-shadow: 0 1px 5px 5px rgba(0,0,0,0.1);
//     transform: translateX(0px);
//     transition: all .3s ease-in-out;
// }

// .menu-button:active.menu-button-opened {
//     // box-shadow: 0 1px 5px 5px rgba(0,0,0,0.1);
//     transform: translateX(0px);
//     transition: all .3s ease-in-out;
// }

.menu-button-icon {
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    height: 90%;
    width: 90%;
    // transform: scale(1.0);
    // transform: rotate(180deg);
    transition: all .3s ease-in-out;
}

.menu-button-icon:hover {
    // transform: scale(1.1);
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}
