
@import '../../../../assets/scss/_';

.photo-albums {
    padding-top: 10px;
    &-title {
        @extend .text-xxl;
    }
}

.photo-album {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;

    &-title {
        @extend .text-xl;
    }
}

.photo-album:hover {
    margin-left: 30px;
    transition: all .2s ease-in-out;
}

// .photo-album:first-of-type {
//     padding-top: 20px;
// }
.photo-album:last-of-type {
    padding-bottom: 100px;
}

.photo {
    display: flex;
    flex-direction: column;

    &-title {
        @extend .text-lg;
    }

    img {
        margin-top: 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    }
    @include screenSize(phone) {
        img, app-scroll-photo {
            width: 100%;
        }
    }
    @include screenSize(tablet) {
        img, app-scroll-photo {
            width: 60%;
        }
    }
    @include screenSizeUp(desktop) {
        img, app-scroll-photo {
            width: 45%;
        }
    }
}

.photo-fly-in {
    display: flex;
    flex-direction: column;
}
