
@import '../../../../assets/scss/_';

.photo-albums {
    padding-top: 10px;
    &-title {
        @extend .text-xxl;
    }
}

.photo-album {
    @include screenSize(phone) {
        padding-top: 20px;
    }
    @include screenSizeUp(tablet) {
        padding-top: 30px;
    }
    display: flex;
    flex-direction: column;

    &-title {
        @extend .text-xl;
    }
}

// .photo-album:first-of-type {
//     padding-top: 20px;
// }
.photo-album:last-of-type {
    padding-bottom: 100px;
}

.photo {
    display: flex;
    flex-direction: column;

    &-title {
        @extend .text-lg;
    }

    @include screenSize(phone) {
        img, app-scroll-photo {
            width: 100%;
            padding-top: 10px;
        }
    }
    @include screenSize(tablet) {
        img, app-scroll-photo {
            width: 60%;
            padding-top: 10px;
        }
    }
    @include screenSizeUp(desktop) {
        img, app-scroll-photo {
            width: 45%;
            padding-top: 10px;
        }
    }

}

.photo-fly-in {
    display: flex;
    flex-direction: column;
}
