<div class="about-blurb-group" *ngFor="let group of (aboutData$ | async); trackBy: groupTrackBy">
  <app-shared-scroll-fly-in *ngIf="group.title">
    <ng-template>
      <div class="about-blurb-fly-in">
        <span class="about-blurb-group-title">
          {{ group.title }}
        </span>
      </div>
    </ng-template>
  </app-shared-scroll-fly-in>
  <app-shared-scroll-fly-in *ngIf="group.description">
    <ng-template>
      <div class="about-blurb-fly-in">
        <span class="about-blurb-group-description">
          {{ group.description }}
        </span>
      </div>
    </ng-template>
  </app-shared-scroll-fly-in>
  <ng-container *ngIf="group.links">
    <app-shared-scroll-fly-in *ngFor="let link of group.links;">
      <ng-template>
        <div class="about-blurb-fly-in">
          <a *ngIf="!link.isRouterLink" class="about-blurb-group-link" [attr.href]="link.href">
            {{ link.label }}
          </a>
          <a *ngIf="link.isRouterLink" class="about-blurb-group-link" (click)="nav.go(link.href)">
            {{ link.label }}
          </a>
        </div>
      </ng-template>
    </app-shared-scroll-fly-in>
  </ng-container>
  <div class="about-blurb">
    <ng-container *ngFor="let photo of group.photos; trackBy: photoTrackBy">
      <app-shared-scroll-fly-in *ngIf="photo.description">
        <ng-template>
          <div class="about-blurb-fly-in">
            <span class="about-blurb-description">
              {{ photo.description }}
            </span>
          </div>
        </ng-template>
      </app-shared-scroll-fly-in>
      <app-shared-scroll-fly-in *ngIf="photo.link">
        <ng-template>
          <div class="about-blurb-fly-in">
            <a *ngIf="!photo.link.isRouterLink" class="about-blurb-group-link" [attr.href]="link.href">
              {{ photo.link.label }}
            </a>
            <a *ngIf="photo.link.isRouterLink" class="about-blurb-group-link" (click)="nav.go('photo-albums')" >
                <!-- (click)="nav.go(link.href)" -->
              {{ photo.link.label }}
            </a>
          </div>
        </ng-template>
      </app-shared-scroll-fly-in>
      <app-shared-scroll-fly-in *ngIf="photo.description">
        <ng-template>
          <div class="about-blurb-fly-in">
            <img *ngIf="photo.src" [attr.src]="responsiveImage.imgSrc(photo.src)" [attr.srcset]="responsiveImage.imgSrcSet(photo.src)" sizes="100vw" />
            <!-- <img [attr.src]="imgSrcTest()" [attr.srcset]="imgSrcSetTest()" sizes="100vw" /> -->
          </div>
        </ng-template>
      </app-shared-scroll-fly-in>
    </ng-container>
  </div>
</div>