<!-- <app-shared-scroll-fly-in>
  <h1>
    About
  </h1>
</app-shared-scroll-fly-in> -->

<div class="about-blurb-group about-blurb-group-no-padding">
  <app-shared-scroll-fly-in>
    <div class="about-blurb">
      <span class="about-blurb-title">
        Family
      </span>
      <span class="about-blurb-description">
        Family is one of the most important things in life!
      </span>
      <span class="about-blurb-description">
        Meet mine!
      </span>
    </div>
  </app-shared-scroll-fly-in>
</div>

<div class="about-blurb-group">
  <app-shared-scroll-fly-in>
    <div class="about-blurb">
      <span class="about-blurb-title">
        Candler:
      </span>
      <img src="../../../assets/images/resized/candler-bridge-pose-1.jpg" />
    </div>
  </app-shared-scroll-fly-in>
</div>

<div class="about-blurb-group">
  <app-shared-scroll-fly-in>
    <div class="about-blurb">
      <span class="about-blurb-title">
        Grandy & Papa:
      </span>
      <img src="../../../assets/images/resized/candler-grandy-papas-house.jpg" />
    </div>
  </app-shared-scroll-fly-in>
</div>

<div class="about-blurb-group">
  <app-shared-scroll-fly-in>
    <div class="about-blurb">
      <span class="about-blurb-title">
        Amy:
      </span>
      <img src="../../../assets/images/resized/amy-xinh-dep.jpg" />
    </div>
  </app-shared-scroll-fly-in>
</div>

<div class="about-blurb-group about-blurb-group-last">
  <app-shared-scroll-fly-in>
    <div class="about-blurb">
      <span class="about-blurb-title">
        Daddy:
      </span>
      <img src="../../../assets/images/resized/daddy-looking-at-phone.jpg" />
    </div>
  </app-shared-scroll-fly-in>
</div>