

@import '../../../assets/scss/_';

.home-group {
    @include screenSize(phone) {
        padding-top: 20px;
    }
    @include screenSizeUp(tablet) {
        padding-top: 30px;
    }

    display: flex;
    flex-direction: column;

    &-no-padding {
        padding: 0;
    }
}

.home-group:last-of-type {
    padding-bottom: 100px;
}

.home-blurb {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-title {
        @extend .text-xl;
        @include screenSize(phone) {
            margin-bottom: -10px;
        }
        @include screenSize(tablet) {
            margin-bottom: -40px;
        }
        @include screenSizeUp(desktop) {
            margin-bottom: -90px;
        }
    }

    &-links {
        @include screenSize(phone) {
            margin-top: -10px;
        }
        @include screenSize(tablet) {
            margin-top: -40px;
        }
        @include screenSize(desktop) {
            margin-top: -90px;
        }
    }

    &-description {
        @extend .text-sm;
        @extend .pt-2;
    }

    &-earth-and-moon {
        // width: 250px;
        @include screenSize(phone) {
            opacity: 0.7;
            margin: -30px;
            margin-bottom: -40px;
            margin-right: -25px;
        }
        @include screenSize(tablet) {
            opacity: 0.65;
            margin: -60px;
            margin-top: -75px;
            margin-bottom: -75px;
            margin-right: -50px;
        }
        @include screenSize(desktop) {
            opacity: 0.6;
            margin: -90px;
            margin-top: -105px;
            margin-right: -75px;
        }
    }
}
