<div class="home-group">
    <app-shared-scroll-fly-in [showPlaceholder]="false">
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-title">
                    Hi, I'm Joseph!
                </span>
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
</div>

<div class="home-group home-group-no-padding">
    <app-shared-scroll-fly-in [showPlaceholder]="false">
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-earth-and-moon">
                    <app-shared-icon-planet [isAnimating]="false"></app-shared-icon-planet>
                </span>
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
</div>

<div class="home-group home-group-no-padding">
    <div class="home-blurb home-blurb-links">
        <app-shared-scroll-fly-in [showPlaceholder]="false">
            <ng-template>
                <span class="home-blurb-description">
                    <a class="link" href="mailto:joseph.gill.atlanta@gmail.com">email me</a>
                </span>
            </ng-template>
        </app-shared-scroll-fly-in>
        <app-shared-scroll-fly-in [showPlaceholder]="false">
            <ng-template>
                <span class="home-blurb-description">
                    <a class="link" href="https://github.com/atljoseph/ui.josephgill.io/">code on github</a>
                </span>
            </ng-template>
        </app-shared-scroll-fly-in>
        <!-- <app-shared-scroll-fly-in [showPlaceholder]="false">
            <ng-template>
                <span class="home-blurb-description">
                    <a class="link" href="https://github.com/atljoseph/aspnetcore3.webapi/">dotnet core</a>
                </span>
            </ng-template>
        </app-shared-scroll-fly-in> -->
        <app-shared-scroll-fly-in [showPlaceholder]="false">
            <ng-template>
                <span class="home-blurb-description">
                    <a class="link" href="../../../assets/documents/JG_resume_2018.safe.docx.pdf">resum&eacute;</a>
                </span>
            </ng-template>
        </app-shared-scroll-fly-in>
    </div>
</div>