<div class="home-group">
    <app-shared-scroll-fly-in>
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-title">
                    Hi, I'm Joseph!
                </span>
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
</div>


<div class="home-group home-group-no-padding">
    <app-shared-scroll-fly-in>
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-earth-and-moon">
                    <app-shared-icon-planet [isAnimating]="false"></app-shared-icon-planet>
                </span>
                <!-- <app-shared-animated-flip-card [flipOnHover]="true">
            <ng-template #frontTemplate>
                <span class="home-blurb-earth-and-moon">
                    <app-shared-icon-planet [isAnimating]="false"></app-shared-icon-planet>
                </span>
            </ng-template>
            <ng-template #backTemplate>
                <span class="home-blurb-earth-and-moon">
                    <app-shared-icon-planet [isAnimating]="false"></app-shared-icon-planet>
                </span>
            </ng-template> 
            </app-shared-animated-flip-card> -->
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
</div>

<div class="home-group home-group-no-padding home-group-last">
    <app-shared-scroll-fly-in>
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-description">
                    <a href="mailto:joseph.gill.atlanta@gmail.com">joseph.gill.atlanta@gmail.com</a>
                </span>
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
    <app-shared-scroll-fly-in>
        <ng-template>
            <div class="home-blurb">
                <span class="home-blurb-description">
                    <a href="https://github.com/atljoseph/josephgill.io/">code on github</a>
                </span>
            </div>
        </ng-template>
    </app-shared-scroll-fly-in>
</div>




<!-- 
<div class="text-primary text-sm">Hello!</div>
<div class="text-primary text-xs">There isn't much here yet...</div>
<div class="text-primary text-xs">Poke around if you want! :)</div>


<app-shared-modal></app-shared-modal> -->