<div class="photo-album">
  <ng-container *ngIf="photoAlbum">
  <app-shared-scroll-fly-in *ngIf="photoAlbum.title">
    <ng-template>
      <div class="photo-fly-in">
        <span class="photo-album-title">
          {{ photoAlbum.title }}
        </span>
      </div>
    </ng-template>
  </app-shared-scroll-fly-in>
  <div class="photo-group" *ngFor="let group of photoAlbum.photoGroups; trackBy: groupTrackBy">
    <app-shared-scroll-fly-in *ngIf="group.title">
      <ng-template>
        <div class="photo-fly-in">
          <span class="photo-group-title">
            {{ group.title }}
          </span>
        </div>
      </ng-template>
    </app-shared-scroll-fly-in>
    <app-shared-scroll-fly-in *ngIf="group.description">
      <ng-template>
        <div class="photo-fly-in">
          <span class="photo-group-description">
            {{ group.description }}
          </span>
        </div>
      </ng-template>
    </app-shared-scroll-fly-in>
    <ng-container *ngFor="let photo of group.photos; trackBy: photoTrackBy">
      <div class="photo">
        <app-shared-scroll-fly-in *ngIf="photo.description">
          <!-- (imageShouldLoad)="loadImage(photo, $event)" -->
          <ng-template>
            <div class="photo-fly-in">
              <span class="photo-description">
                {{ photo.description }}
              </span>
            </div>
          </ng-template>
        </app-shared-scroll-fly-in>
        <app-shared-scroll-fly-in *ngIf="photo.src">
          <ng-template>
            <div class="photo-fly-in">
              <img #imgResponsive [attr.src]="responsiveImage.imgSrc(photo.src)" [attr.srcset]="responsiveImage.imgSrcSet(photo.src)" sizes="100vw" />
              <!-- <img [attr.src]="imgSrcTest()" [attr.srcset]="imgSrcSetTest()" sizes="100vw" /> -->
            </div>
          </ng-template>
        </app-shared-scroll-fly-in>
      </div>
    </ng-container>
  </div>
  </ng-container>
</div>