
@import '../../../../assets/scss/_';

.photo-album {
    padding-top: 10px;
    &-title {
        @extend .text-xxl;
    }
}

.photo-group {
    display: flex;
    flex-direction: column;

    &-title {
        padding-top: 10px;
        @extend .text-xl;
    }

    &-description {
        padding-top: 10px;
        @extend .text-md;
    }
}

.photo-group:last-of-type {
    margin-bottom: 100px;
}

.photo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    &-description {
        padding-top: 10px;
        @extend .text-md;
    }

    img {
        margin-top: 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    }
    @include screenSize(phone) {
        img, app-scroll-photo {
            width: 100%;
        }
    }
    @include screenSize(tablet) {
        img, app-scroll-photo {
            width: 60%;
        }
    }
    @include screenSizeUp(desktop) {
        img, app-scroll-photo {
            width: 45%;
        }
    }

}

.photo-fly-in {
    display: flex;
    flex-direction: column;
}
